.hide {
  display: none;
}

.car,
.enemy {
  position: absolute;
  bottom: 100px;
  left: 200px;
  width: 50px;
  height: 100px;
  background-color: red;
}

.gameArea {
  background-color: rgb(36, 34, 34);
  width: 300px;
  height: 95vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.divider {
  position: absolute;
  height: 100px;
  width: 10px;
  background-color: white;
  margin-left: 145px;
}
